<html>
    <head>
        <title>Add a new list</title>
    </head>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{form.name}} <br>
        {{ form.text.label }} <br> 
        {{ form.text(cols="35", rows="20") }} <br>
        {{ form.description.label }} <br> 
        {{ form.description(cols="35", rows="4") }} <br>
        {{ form.comma }} {{ form.comma.label }}
        {{ form.newline }} {{ form.newline.label }}
        {{ form.submit() }}
    </form>
</html>