{% macro iterifpassed(iterable) -%}
    {% if iterable %}
        {% for i in iterable %}
            {{ i }} <br>
        {% endfor %}
    {% endif %}
{%- endmacro %}

<html>
    <head>
        <title>Track changes to your lists</title>
    </head>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.risuto1() }}
        {{ form.risuto2() }}
        <br>
        {{ form.left() }} {{ form.leftcnt }}
        {{ form.union() }} {{ form.unioncnt }}
        {{ form.inters() }} {{ form.interscnt }}
        {{ form.right() }} {{ form.rightcnt }}
        <br>
        {{ form.delimiter.label }} <i>(Use \n for newline)</i>
        <br> 
        {{ form.delimiter() }}
    </form>
    <body>
        {{ iterifpassed(output) }}
        {% if risutos %}
            {% for risuto in risutos %}
                <div><h1>{{ risuto.name }} </h1>
                    {{ risuto.text }}<br>
                    {{ iterifpassed(delimiterfunc(risuto.risutoset)) }}
                    <i>Created: </i>{{ risuto.created.strftime('%b %d %Y at %I:%M:%S %p') }}<br>
                    <i>Description: </i>{{ risuto.description }}<br>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>