<!doctype html>

<link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
<script type=text/javascript src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type=text/javascript src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type=text/javascript src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table').DataTable();
    } );

    function outputToClipBoard() {
      /* Select the text field */
      $('#output').select();

      /* Copy the text inside the text field */
      document.execCommand("Copy");
    };
</script>

{% macro newlinetobreak(iterable) -%}
    {% for i in iterable.split('\n') %}
        {{ i }} <br>
    {% endfor %}
{%- endmacro %}

<html>
    <head>
        <title>Track changes to your lists</title>
    </head>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.dropdown1() }}
        {{ form.dropdown2() }}
        <br>
        {{ form.left() }} {{ form.leftcnt }}
        {{ form.union() }} {{ form.unioncnt }}
        {{ form.inters() }} {{ form.interscnt }}
        {{ form.right() }} {{ form.rightcnt }}
        <br>
        {{ form.delimiter.label }} <i>(Use \n for newline)</i>
        <br> 
        {{ form.delimiter() }}
    </form>
    <br<
    <body>
        {% if output %}
            <h3>Output</h3>
            <textarea rows="4" cols="50" id="output">{{ delimitfunc(output) }}</textarea>
            <button onclick="outputToClipBoard()">Copy text</button>
            <br><br>
        {% endif %}

        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Description</th>
                    <th>Input</th>
                    <th>Formatted Unique Items</th>
                </tr>
            </thead>
            <tbody>
                {% for risuto in risutos %}
                <tr>
                    <td>{{ risuto.name }}</td>
                    <td>{{ risuto.created.strftime('%b %d %Y at %I:%M:%S %p') }} </td>
                    <td>{{ risuto.description }}</td>
                    <td>{{ newlinetobreak(risuto.text) }}</td>
                    <td>{{ newlinetobreak(delimitfunc(risuto.risutoset)) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>